.login {
    display: flex;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    .logo__desc {
        font-size: 2rem;
        margin: 40px 0;

        @media (min-width:800px) {
            font-size: 3rem;
            margin: 80px 0;
        }
    }

    &__username {
        max-width: 300px;
        width: 50%;
        height: 30px;
        margin: 10px 10px;

        //look
        border: 1px solid grey;
        border-radius: 4px;

        padding: 0 5px;
    }
    &__password {
        max-width: 300px;
        width: 50%;
        height: 30px;
        margin:10px 10px ;

        //look
        border: 1px solid grey;
        border-radius: 4px;

        padding: 0 5px;
    }
    &__button {
        max-width: 300px;
        width: 50%;
        height: 30px;
        margin:10px 10px ;

        //look
        border: 1px solid grey;
        border-radius: 4px;

        padding: 0 5px;
    }
}

.logo__desc {
    font-family: 'Lobster', cursive;
}

.intro{
    //element
    width: 100%;
    height: 15vh;
    position: fixed;
    //container
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //look
    background-color: white;

    @media (min-width:800px) {
        width: 50%;
        border-bottom: 1px solid rgb(199, 199, 199);
    }
        .logo__desc {
            width: 30%;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 1.4rem;

            @media (min-width:800px) {
                font-size: 1.7rem;
            }
        }

        .search {
            min-height: 50px;

            display: flex;
            width: 70%;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            

            &__text {
                height: 30px;
                width: 70%;
                margin:0 3%;
                padding:0 5px;
                border: 1px black solid;
                border-radius: 4px;
            }

            &__button {
                height: 30px;

                background-color: black;
                color: white;
                border: 1px black solid;
                border-radius: 4px;
    }
    }
}


.menu {
    //element
    height: 15vh;
    width: 100vw;
    min-height: 50px;
    bottom: 0;
    left: 0;
    //container
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    //look
    background-color: white;

    @media (min-width:800px) {
        width: 50%;

        bottom:auto;
        left: 50%;
        border-bottom: 1px solid rgb(202, 202, 202);
    }

        &__list {
        display: flex;
        flex-basis:100%;
        justify-content: space-around;
        
        }
  
        &__item {
        display: inline;
        }

        &__link {
            text-decoration: none;
            cursor: pointer;
            color: black;
        }

}

    
.banner {
    //element
    height: 100vh;
    width: 100%;
    //container
    display: flex;
    align-items: center;
    //look
    padding: 0 10%;

    &__intro {
        //look
        font-size: 300%;
    }
}

.post {
    //element
    width: 100vw;
    height: auto;
    //container
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
    
    &__close {
        //container
        display: none;
        height: auto;

        input {
            //element
            width: 30px;
            height: 30px;
            //look
            background-color: black;
            color: white;
            border: none;
            
        }
    }

    &__container {
        //element
        width: 100%;
        height: auto;
        //container
        display: flex;
        flex-direction: column;
        margin: auto;
        //look
        margin-bottom:30px;
        background-color: white;
        overflow: hidden;
        border-bottom: 1px solid rgb(201, 201, 201);
        margin-bottom: 60px;

        @media (min-width:640px) {
            width: 600px;
            border: 1px solid rgb(202, 201, 201);
            border-radius: 3px;

        }
    }

    &__image {
        //elemeny
        width: 100%;
        height: auto;
        //container
        display: flex;
        justify-content: center;
        //look
        cursor: pointer;
        img {
            display: flex;
            width: 100%;
        }
    }

    &__date {
        font-weight: bold;
        padding-top: 16px;
        padding-left: 16px;
    }

    &__desc {
        //element
        height: auto;
        display: flex;
        width: 100%;
        padding: 16px 16px;
    }
}

.photo {
    height: auto;
    width: 100%;
    
    &__image {
        width: 100%;
        height: 100%;

        padding: 5px;
        cursor: pointer;
        border-radius: 10px;
        @media (min-width:640px) {
            border-radius: 10px;
        }
    }

}

/////////////////////////////////////////////////////
.start {
    display: flex;
    flex-wrap: wrap;
}


.home {
    display: flex;
    flex-wrap: wrap;

}


.explore {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    

    &__main {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 15vh;
        justify-content: center;
        @media (min-width:800px) {
            padding: 20vh 0;
        }
    }

    &__container {
        height: auto;
        width: 100vw;

        display: flex;
        flex-wrap: wrap;
        

        @media (min-width:640px) {
            width: 60vw;
        }
    }

    &__post {
        display: flex;

        height: auto;
        width: 50%;
    }
}

.favourite {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    &__main {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 15vh;
        justify-content: center;
        @media (min-width:800px) {
            padding: 20vh 0;
        }
    }

    &__container {
        height: auto;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        @media (min-width:640px) {
            width: 60vw;
        }
    }

    &__post {
        display: flex;

        height: auto;
        width: 50%;
    }

}

.profile {
    display: flex;
    flex-direction: column;

    &__main {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 15vh;
        justify-content: center;
        padding: 10vh 0;
        @media (min-width:800px) {
            padding: 20vh 0;
        }
    }

    &__container {
        height: auto;
        width: 100vw;

        display: flex;
        flex-wrap: wrap;
        

        @media (min-width:640px) {
            width: 60vw;
        }
    }

    &__info {
        height: auto;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
    }
    

    &__image {
        width: 50%;
        height: auto;
        
        padding: 20px;
        border-radius: 50%;
    }
    //
    &__name-container {
        display: flex;
        flex-direction: column;

        width: 50%;
        height: auto;
    }

    &__name {
        width: 100%;
        
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__text {
        text-align: center;
    }

    &__desc {
        width: 100%;
        height: 50%;
        text-align: center;
        display: flex;

        justify-content: center;
    }

    /////////////////////////

    &__gallery {
        height: auto;
        width: 100%;

        display: flex;
        flex-wrap: wrap;

        margin-top: 40px;
    }

    &__post {
        display: flex;

        height: auto;
        width: 50%;
    }
}


  